{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container">

<h1>Немного о нас</h1>

<div class="page-about">
    <div class="about-dns">
        <div class="about-dns__title"><h1 class="about-dns__top-title">SmartShop – рынка по продаже цифровой и
            бытовой техники в России</h1></div>
        <div class="about-dns__subtitle">
            <div class="about-dns__top-subtitle">Наша цель изменить жизнь людей, сделав простым доступ к огромному
                количеству качественных и недорогих товаров, предоставляя лучший сервис.
            </div>
        </div>
    </div>


    <div class="info-for-everyone">
        <div class="info-for-everyone__section-box">
            <div class="info-for-everyone__title icon-client"><span>Для клиентов</span></div>
            <div class="info-for-everyone__list">
                <ul>
                    <li>Наши клиенты – в центре всего, что мы делаем,</li>
                    <li>Доверие - главное. Мы строим долгосрочные отношения,</li>
                    <li>Во всём, чем занимаемся, стремимся быть экспертами,</li>
                    <li>Открыты для предложений и улучшений.</li>
                </ul>
            </div>
        </div>
        <div class="info-for-everyone__section-box">
            <div class="info-for-everyone__title icon-partner"><span>Для партнёров</span></div>
            <div class="info-for-everyone__list">
                <ul>
                    <li>Прозрачность - основа совместного бизнеса,</li>
                    <li>Работаем, соблюдая этику бизнеса,</li>
                    <li>Уважаем другие мнения и интересы,</li>
                    <li>Выполняем обязательства и берем ответственность за свои решения,</li>
                    <li>Нетерпимы к коррупции.</li>
                </ul>
            </div>
        </div>
        <div class="info-for-everyone__section-box size-staff">
            <div class="info-for-everyone__title icon-staff"><span>Для сотрудников</span></div>
            <div class="info-for-everyone__list">
                <ul>
                    <li>DNS - территория личной и коллективной самореализации,</li>
                    <li>Мы - одна команда,</li>
                    <li>Уважаем мнение и интересы людей,</li>
                    <li>Ценим свободу, смелость и ответственность.</li>
                </ul>
            </div>
        </div>
    </div>

</div>
</div></div>
<style>
    h1 {
        text-align: center;
    }

    p {
        font-size: 18px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .block-left {
        width: 50%;
        overflow: auto;
        float: left;
    }

    .block-right {
        width: 50%;
        overflow: auto;
    }

    h2 {
        margin-bottom: 20px;
    }
</style>
{% endblock %}