{% extends 'base.html' %}

{% block title %}
Бронирование
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 style="text-align:center">Свободные номера</h1>

    <div class="row" style="margin-top:3%">
        {%for phones in phone%}
        <div class="card" style='width: 25%'>
            <img src="{{ phones.img }}" alt="Avatar" style="margin-top:16px">
            <div class="container">

                <h4> Номер <b>{{ phones.namephone }}</b> <span style="color: green">{{ phones.status }}</span>.
                    Цена: <b>{{ phones.price }} руб.</b></h4>

                <p>Тип номера: <b>{{ phones.phonetype }}</b></p>
                <p>Описание: <b>{{ phones.description }}</b></p>
                <div class="button">
                    <a href="/payment/{{phones.idphone}}" class="btn btn-outline-primary me-2">Купить</a>
                    </form>
                </div>

            </div>
        </div>
        {%endfor%}
    </div>
</div>

<style>
    .container {
        margin: auto;
    }

    .button {
        float: right;
        margin-bottom: 15px;
    }

    h4 {
        margin-top: 3%;
    }

</style>

{% endblock %}
